.navbar {
  background-color: #1f1f14;
}

.navbar a {
  color: #ffffff;
}

.navbar a:hover {
  background-color: #ffb3ff;
}

.container-fluidOne {
  background-image: url(images/imageOne.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 400px;
  padding-left: 10px;
}

.cardOne {
  margin-left: 20px;
}
